<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="options">
            <config key="objective">
                <entry key="identifier" type="xstring" value="multi:softprob"/>
            </config>
            <entry key="targetColumn" type="xstring" value="income"/>
            <entry key="weightColumn" type="xstring" isnull="true" value=""/>
            <config key="featureFilter">
                <entry key="filter-type" type="xstring" value="STANDARD"/>
                <config key="included_names">
                    <entry key="array-size" type="xint" value="18"/>
                    <entry key="0" type="xstring" value="age"/>
                    <entry key="1" type="xstring" value="workclass"/>
                    <entry key="2" type="xstring" value="fnlwgt"/>
                    <entry key="3" type="xstring" value="education"/>
                    <entry key="4" type="xstring" value="education.num"/>
                    <entry key="5" type="xstring" value="marital.status"/>
                    <entry key="6" type="xstring" value="occupation"/>
                    <entry key="7" type="xstring" value="relationship"/>
                    <entry key="8" type="xstring" value="race"/>
                    <entry key="9" type="xstring" value="sex"/>
                    <entry key="10" type="xstring" value="capital.gain"/>
                    <entry key="11" type="xstring" value="capital.loss"/>
                    <entry key="12" type="xstring" value="hours.per.week"/>
                    <entry key="13" type="xstring" value="native.country"/>
                    <entry key="14" type="xstring" value="PCA dimension 0"/>
                    <entry key="15" type="xstring" value="PCA dimension 1"/>
                    <entry key="16" type="xstring" value="PCA dimension 2"/>
                    <entry key="17" type="xstring" value="Cluster"/>
                </config>
                <config key="excluded_names">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
                <config key="name_pattern">
                    <entry key="pattern" type="xstring" value=""/>
                    <entry key="type" type="xstring" value="Wildcard"/>
                    <entry key="caseSensitive" type="xboolean" value="true"/>
                    <entry key="excludeMatching" type="xboolean" value="false"/>
                </config>
                <config key="datatype">
                    <config key="typelist">
                        <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                    </config>
                </config>
            </config>
            <entry key="boostingRounds" type="xint" value="100"/>
            <entry key="numThreads" type="xint" value="5"/>
            <entry key="manualNumThreads" type="xboolean" value="false"/>
            <entry key="useStaticSeed" type="xboolean" value="false"/>
            <entry key="staticSeed" type="xint" value="0"/>
            <entry key="baseScore" type="xdouble" value="0.5"/>
        </config>
        <config key="booster">
            <entry key="booster" type="xstring" value="Tree"/>
            <entry key="eta" type="xdouble" value="0.3"/>
            <entry key="gamma" type="xdouble" value="0.0"/>
            <entry key="maxDepth" type="xint" value="6"/>
            <entry key="minChildWeight" type="xdouble" value="1.0"/>
            <entry key="maxDeltaStep" type="xdouble" value="0.0"/>
            <entry key="subsample" type="xdouble" value="1.0"/>
            <entry key="colSampleByTree" type="xdouble" value="1.0"/>
            <entry key="colSampleByLevel" type="xdouble" value="1.0"/>
            <entry key="colSampleByNode" type="xdouble" value="1.0"/>
            <entry key="lambda" type="xdouble" value="1.0"/>
            <entry key="alpha" type="xdouble" value="1.0"/>
            <entry key="treeMethod" type="xstring" value="Auto"/>
            <entry key="sketchEps" type="xdouble" value="0.03"/>
            <entry key="scalePosWeight" type="xdouble" value="1.0"/>
            <entry key="growPolicy" type="xstring" value="DepthWise"/>
            <entry key="maxLeaves" type="xint" value="0"/>
            <entry key="maxBin" type="xint" value="256"/>
            <entry key="sampleType" type="xstring" value="Uniform"/>
            <entry key="normalizeType" type="xstring" value="Tree"/>
            <entry key="rateDrop" type="xdouble" value="0.0"/>
            <entry key="oneDrop" type="xboolean" value="false"/>
            <entry key="skipDrop" type="xdouble" value="0.0"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.xgboost.base.nodes.learner.classification.XGBTreeClassificationLearnerNodeFactory2"/>
    <entry key="node-name" type="xstring" value="XGBoost Tree Ensemble Learner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME XGBoost Integration"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.xgboost"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.9.0.v202511130858"/>
    <entry key="node-feature-name" type="xstring" value="KNIME XGBoost Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.xgboost.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.9.0.v202511130858"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="XGBoost Tree Ensemble Learner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.xgboost.core.model.XGBModelPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.xgboost.core.model.XGBModelPortObject"/>
            <entry key="port_object_summary" type="xstring" value="XGBoostModel"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 112, Cols: 6"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" value="filestore"/>
        <entry key="file_store_id" type="xstring" value="5e782356-1546-435a-8690-9761557f6980"/>
    </config>
</config>
